<div id="ctnr" class="p10">
	<div class="form-ctnr">
		<form name="create" action="create" method="post">
			<div><label>start_time:</label><input type="text" name="start_time" placeholder="2011-03-22T20:59:50+0000"></div>
			<div><label>name:</label><input type="text" name="name"></div>
			<div><label>detail:</label><input type="text" name="detail"></div>
			<div><label>duration:</label><input type="text" name="duration"></div>
			<div><label>tags:</label><input type="text" name="tags" placeholder="a,b,c"></div>
			<input class="fr" type="submit" value="Submit"><a href="/events" class="cncl fr">Cancel</a>
			<div class="clr"></div>
		</form>
	</div>
</div>