<div id="ctnr" class="p10">
	<div class="form-ctnr">
		<form name="create" action="create" method="post">
			<div><label>name:</label><input type="text" name="name"></div>
			<div><label>address:</label><input type="text" name="address"></div>
			<div><label>city:</label><input type="text" name="city"></div>
			<div><label>state:</label><input type="text" name="state"></div>
			<div><label>postal code:</label><input type="text" name="postal_code"></div>
			<!-- <div><label>latitude:</label><input type="text" name="latitude"></div>
			<div><label>longitude:</label><input type="text" name="longitude"></div>
			<div><label>phone number:</label><input type="text" name="phone_number"></div> -->
			<input class="fr" type="submit" value="Submit"><a href="/places" class="cncl fr">Cancel</a>
			<div class="clr"></div>
		</form>
	</div>
</div>