<div id="ctnr">
  <div class="form-ctnr">
    <form name="create" action="create" method="post" enctype="multipart/form-data">
      <div><label>photo:</label><input type="file" name="photo" /></div>
      <div><label>collection id:</label><input type="text" name="collection_id" /></div>
      <div><label>tags:</label><input type="text" name="tags" placeholder="a,b,c" /></div>
      <input class="fr" type="submit" value="Submit"><a href="/photos" class="cncl fr">Cancel</a>
      <div class="clr"></div>
    </form>
  </div>
</div>