<div id="ctnr">
  <ul id="index-data-list">
    <li><a href="/chats"><img src="images/btn-chats.png" />Chats</a></li>
    <li><a href="/checkins"><img src="images/btn-checkins.png" />Checkins</a></li>
    <li><a href="/objects"><img src="images/btn-customobjects.png" />Custom Objects</a></li>
    <li><a href="/events"><img src="images/btn-events.png" />Events</a></li>
    <li><a href="/files"><img src="images/btn-datafiles.png" />Files</a></li>
    <li><a href="/friends"><img src="images/btn-friends.png" />Friends</a></li>
    <li><a href="/messages"><img src="images/btn-messages.png" />Messages</a></li>
    <li><a href="/photos"><img src="images/btn-photos.png" />Photos</a></li>
    <li><a href="/collections"><img src="images/btn-collections.png" />Photo Collections</a></li>
    <li><a href="/places"><img src="images/btn-places.png" />Places</a></li>
    <li><a href="/posts"><img src="images/btn-posts.png" />Posts</a></li>
    <li><a href="/reviews"><img src="images/btn-ratings.png" />Reviews</a></li>
    <li><a href="/statuses"><img src="images/btn-statuses.png" />Statuses</a></li>
    <li><a href="/users"><img src="images/btn-users.png" />Users</a></li>
    <div class="clr"></div>
  </ul>
</div>