<div id="ctnr">
  <ul id="index-data-list">
    <li><a href="/acls">ACL</a></li>
    <li><a href="/chats">Chats</a></li>
    <li><a href="/checkins">Checkins</a></li>
    <li><a href="/objects">Custom Objects</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/files">Files</a></li>
    <li><a href="/friends">Friends</a></li>
    <li><a href="/likes">Likes</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="/photos">Photos</a></li>
    <li><a href="/collections">Photo Collections</a></li>
    <li><a href="/places">Places</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/statuses">Statuses</a></li>
    <li><a href="/users">Users</a></li>
    <div class="clr"></div>
  </ul>
</div>