<script type="text/javascript">
$(function(){
  $("input[name='un']").focus();
});
</script>
<div id="ctnr" class="p10">
  <div id="login">
    <form name="login" action="/login" method="post">
      <div><label>Username:</label><input type="text" name="un"></div>
      <div><label>Password:</label><input type="password" name="pw"></div>
      <div><input type="submit" value="Submit" class="fr"><div class="clr"></div></div>
    </form>
  </div>
</div>