<style type="text/css">
#index-data-list li{display:block;width:150px;height:150px;float:left;margin:3px;background:#e5e5e5;}
#index-data-list li:hover{border-bottom:1px solid #20B2AA;margin:3px 3px 2px 3px;}
#index-data-list li a{display:block;text-align:center;font:16px/24px 'open sans';}
</style>
<div>
  <ul id="index-data-list">
    <li><a href="#">ACL</a></li>
    <li><a href="#">Chats</a></li>
    <li><a href="#">Checkins</a></li>
    <li><a href="#">Custom Objects</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Files</a></li>
    <li><a href="#">Friends</a></li>
    <li><a href="#">Likes</a></li>
    <li><a href="#">Messages</a></li>
    <li><a href="#">Photos</a></li>
    <li><a href="#">Photo Collections</a></li>
    <li><a href="places">Places</a></li>
    <li><a href="#">Posts</a></li>
    <li><a href="#">Reviews</a></li>
    <li><a href="#">Statuses</a></li>
    <li><a href="#">Users</a></li>
    <div class="clr"></div>
  </ul>
</div>