
/* chatroom */
#ic{width:100%;border-bottom:1px solid #ccc;background:#f5f5f5;}
#ic span{display:block;padding:5px;}
#chat-ctnr{width:100%;height:500px;overflow:auto;padding:0;border-bottom:1px solid #ccc;}
#incomingChatMessages{padding:10px;margin:0;list-style:none;}
#incomingChatMessages li{display:block;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fff;margin:2px 0;padding:3px;transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;}
#incomingChatMessages li.alert{font-weight:bold;}
#incomingChatMessages li.active{background:#ddffdd;}
#outgoingChatMessage{margin:5px 0;padding:5px;outline:none;border:1px solid #ccc;width:100%;border-left:0;}
#outgoingChatMessage:focus{border:1px solid #1c94c4;}

/*
	blue:#6993c2;
*/
*{font:14px/20px 'Open Sans','helvetcia neue',helvetica,arial,sans-serif;word-break:break-all;}
.fr{float:right !important;}
.fl{float:left !important;}
.clr{clear:both;}
ul{list-style:none;padding:0;margin:0;}
li{padding:0;margin:0;}
a{text-decoration:none;color:#6993c2;}
.btn{display:block;color:#fff;background:#20B2AA;padding:3px 5px;margin:2px;text-transform:uppercase;font-weight:500;cursor:pointer;font:12px/20px 'Open Sans','helvetcia neue',helvetica,arial,sans-serif;}
.btn:hover{background:#20c2AA;color:#fff;}
body{margin:0;padding:0;}
form{margin:0;padding:0;}
.w10p{width:10%;}
.w15p{width:15%;}
.w20p{width:20%;}
.w60p{width:60%;}
.w160{width:160px;}
.w300{width:300px;}
.p10{padding:10px !important;}

/* */
#t-nav{position:fixed;top:0;width:100%;padding:0;height:40px;border-bottom:1px solid #ccc;background:#fff;z-index:100;}
#t-nav .ctnr{padding:0px;}
#t-nav .ctnr #logo{width:190px;padding:0 5px;height:40px;background:#333;color:#fff;font:20px/40px 'open sans';text-align:center;}
#ctr{position:fixed;width:200px;border-right:2px solid #ccc;height:100%;}
#ctnr{position:relative;margin:41px 0 0 202px;padding:0;width:100%;}
#login,.form-ctnr{width:500px;padding:30px;border:1px solid #333;background:#f5f5f5;margin:10px;}
#login > form > div,.form-ctnr > form > div{margin:5px 0;}
#login span,.form-ctnr span{padding:3px;outline:none;}
input{padding:3px;outline:none;border:1px solid #aaa;}
input:focus{border:1px solid #6993c2;}
#login label,.form-ctnr label{display:inline-block;width:200px;font:14px/20px 'Open Sans','helvetcia neue',helvetica,arial,sans-serif;}
.form-ctnr input[type="file"]{border:0;}
#login input[type="text"],#login input[type="password"],.form-ctnr input[type="text"],.form-ctnr input[type="password"]{width:300px;}
#login input[type="submit"],.form-ctnr input[type="submit"]{border:1px solid #333;background:#333;color:#fff;margin:2px;padding:3px;}
.btn2{border:1px solid #333;background:#333;color:#fff;margin:2px;cursor:pointer;padding:3px;}
.cncl{display:block;border:1px solid #333;background:#333;color:#fff;margin:2px;cursor:pointer;padding:3px;}

/* flash */
#flash{position:absolute;top:3px;right:50%;margin:0 -155px 0 0;width:300px;background:#333;color:#fff;text-align:center;padding:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;opacity:0.9;z-index:10;}

/* layout - leftsidebar */
#l-nav{padding:0 0 0 30px;}
#l-nav > ul{margin:15px 0;}
#l-nav > ul > li.active > a{background:#20B2AA;color:#fff;}
#l-nav > ul > li.active > ul{display:block;}
#l-nav > ul > li > a{display:block;padding:2px;margin:2px 0 2px 2px;background:#fff;color:#444;font:12px/20px 'Open Sans','helvetcia neue',helvetica,arial,sans-serif;}
#l-nav > ul > li:hover:not(.active) > a{background:#444;color:white;background-image:-moz-linear-gradient(top,#444 0,#333 100%);background-image:-ms-linear-gradient(top,#444 0,#333 100%);background-image:-o-linear-gradient(top,#444 0,#333 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#444),color-stop(100%,#333));background-image:-webkit-linear-gradient(top,#444 0,#333 100%);background-image:linear-gradient(to bottom,#444 0,#333 100%);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff444444,EndColorStr=#ff333333);}
#l-nav > ul > li > ul{display:none;}
#l-nav > ul > li:hover > ul{display:block;}
#l-nav > ul > li > ul > li > a{display:block;padding:0 2px;margin:2px 0 0 10px;background:#ccc;color:#fff;font:12px/20px 'Open Sans','helvetcia neue',helvetica,arial,sans-serif;}
.user{font-weight:bold;margin:5px 0;}
.l-n-btn{color:#444;display:block;padding:3px 0 3px 3px;}
.l-n-btn:hover{background:#444;color:white;background-image:-moz-linear-gradient(top,#444 0,#333 100%);background-image:-ms-linear-gradient(top,#444 0,#333 100%);background-image:-o-linear-gradient(top,#444 0,#333 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#444),color-stop(100%,#333));background-image:-webkit-linear-gradient(top,#444 0,#333 100%);background-image:linear-gradient(to bottom,#444 0,#333 100%);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff444444,EndColorStr=#ff333333);}

/* application#index */
#index-data-list li{display:block;width:150px;height:150px;float:left;margin:3px;background:#f5f5f5;}
#index-data-list li:hover{border-bottom:1px solid #20B2AA;margin:3px 3px 2px 3px;}
#index-data-list li a{display:block;height:100%;text-align:center;font:16px/24px 'open sans';}
#index-data-list li a img{display:block;margin:30px auto;}

/* objects#index */
#list{padding:0;width:100%;}
#list > ul > li{padding:3px;border:1px solid #ccc;border-left:0;border-top:0;line-height:26px;}
#list > ul > li:hover{background:#f5f5f5;}
#list > ul > li > span{display:block;float:left;font:13px/30px 'Open Sans','helvetcia neue',helvetica,arial,sans-serif;}
#list > ul > li > span.obj-id,#list > ul > li > span.p-id{width:20%;}
#list > ul > li > span.name{width:15%;}
#list > ul > li > span.address{width:25%;}
#list > ul > li > span.city{width:15%;}
#list > ul > li > span.list-15{width:15%;}
#list > ul > li > span.more{width:20%;}
#list > ul > li:first-child{border-top:1px solid #ccc;}

/* objects#show */
.s-ctnr{width:500px;padding:30px;border:1px solid #333;background:#f5f5f5;margin:0 10px 10px 20px;}
.place .name,.place .val{display:block;}
.place .name{width:150px;}.place .val{width:300px;}

/* custom objects */
#st{position:relative;padding:5px;margin:0;background:#f5f5f5;border-bottom:1px solid #ccc;height:30px;}
#tcn{margin:0 0 0 15px;}