<div id="ctnr">
  <div class="form-ctnr">
    <form name="create" action="create" method="post" enctype="multipart/form-data">
      <div><label>name:</label><input type="text" name="name" /></div>
      <div><label>parent collection id:</label><input type="text" name="parent_collection_id" /></div>
      <div><label>cover photo id:</label><input type="text" name="cover_photo_id" /></div>
      <div><label>tags:</label><input type="text" name="tags" placeholder="a,b,c" /></div>
      <input class="fr" type="submit" value="Submit"><a href="/collections" class="cncl fr">Cancel</a>
      <div class="clr"></div>
    </form>
  </div>
</div>