<script type="text/javascript"></script>
<div id="ctnr" class="p10">
  <div class="form-ctnr">
    <form name="create" action="create" method="post" enctype="multipart/form-data">
      <div><label>type:</label><input type="text" name="type" /></div>
      <div><label>type id:</label><input type="text" name="type_id" /></div>
      <div><label>rating:</label><input type="text" name="rating" /></div>
      <div><label>content:</label><input type="text" name="content" /></div>
      <div><label>tags:</label><input type="text" name="tags" placeholder="a,b,c" /></div>
      <input class="fr" type="submit" value="Submit"><a href="/reviews" class="cncl fr">Cancel</a>
      <div class="clr"></div>
    </form>
  </div>
</div>