<div id="ctnr" class="st-ctnr">
  <div id="st">
    <form name="start" action="/reviews" method="get">
      <label>object type:</label><input id="tcn" type="text" name="type" />
      <label>object id:</label><input id="tcn" type="text" name="type_id" class="w300" />
      <input type="submit" value="Submit" class="btn2">
    </form>
  </div>
</div>