<style type="text/css">
.fn{width:150px !important;margin:0 30px 0 0;}
</style>
<script type="text/javascript">
	$(function(){
		$("#add").click(function(){
			$("#tool").before("<div><input type='text' name='' class='fn fl' /><input type='text' name='' class='fv fr' /><div class='clr'></div></div>");
			$(".fn").keyup(function(){
				$(this).attr('name',$(this).val()+"[n]");
				$(this).parent().find('.fv').attr('name',$(this).val()+"[v]");
			});
		});
	});
</script>
<div id="ctnr" class="p10">
	<div class="form-ctnr">
		<form id="oform" name="create" action="create" method="post">
			<div><label>classname:</label><input type="text" name="classname"></div>
			<div><label>tags:</label><input type="text" name="tags"></div>
			<div id="tool"><span id="add" class="cncl fl">Add</span><input class="fr" type="submit" value="Submit"><a href="/objects" class="cncl fr">Cancel</a></div>
			<div class="clr"></div>
		</form>
	</div>
</div>