<div id="ctnr" class="st-ctnr">
  <div id="st">
    <form name="start" action="/objects" method="get">
      <label>class name:</label><input id="tcn" type="text" name="classname" />
      <input type="submit" value="Submit" class="btn2">
    </form>
  </div>
</div>