<div id="ctnr" class="st-ctnr">
  <div id="st">
    <form name="start" action="/acls/show" method="get">
      <label>name:</label><input id="tcn" type="text" name="name" /> or
      <label>ACL id:</label><input id="tcn" type="text" name="acl_id" />
      <input type="submit" value="Submit" class="btn2">
    </form>
  </div>
</div>