<div id="ctnr" class="p10">
	<div class="form-ctnr">
		<form name="create" action="create" method="post">
      <div><label>to ids:</label><input type="text" name="to_ids"></div>
			<div><label>message:</label><input type="text" name="message"></div>
			<input class="fr" type="submit" value="Submit"><a href="/chats" class="cncl fr">Cancel</a>
			<div class="clr"></div>
		</form>
	</div>
</div>