<div id="ctnr" class="p10">
	<div class="form-ctnr">
		<form name="create" action="create" method="post">
			<div><label>message:</label><input type="text" name="message"></div>
			<div><label>place:</label><input type="text" name="place_id"></div>
			<div><label>event:</label><input type="text" name="event_id"></div>
			<div><label>tags:</label><input type="text" name="tags"></div>
			<input class="fr" type="submit" value="Submit"><a href="/checkins" class="cncl fr">Cancel</a>
			<div class="clr"></div>
		</form>
	</div>
</div>